*{
    font-family: 'Work Sans', sans-serif;
}
.main{
    max-width: 1600px;
    margin: auto;
}
li, .data, .cal-icon, .moda-desc{
    color: #585858;
}
#show-details{
    background: #FEF7F7;
}
#show-details:hover{
    cursor: pointer;
}
.modal-card-bg{
    background: rgba(235, 87, 87, 0.05);
}